@import foundation/globals
@import slick.js/slick/slick

// -------------------------------------
//   Structures
// -------------------------------------


// -------------------------------------
//   Components
// -------------------------------------

%header
  .image
    min-height: 140px
    background: $c-debug no-repeat center center
    background-size: cover
  .text
    background: $c-background
    overflow: hidden
    h1
      margin: .5em 0
      padding: $b-padding
      text-align: center
      font-size: 1.85em
      font-weight: 300
    p
      margin-bottom: 1.5em
      padding: 0 $b-padding-x*1.25 0 $b-padding-x
      line-height: 1.45
      font-size: .95em
%section-services
  background: $c-background
  ul.items
    margin-top: 10px
  li
    $height: 120px
    background: $c-debug
    height: $height
    line-height: $height
    text-align: center
    font-size: 1.5em
  li span.title
    display: inline-block
    vertical-align: middle
    line-height: 1.25
    font-weight: 700
%section-advantages
  display: none
%section-about
  display: none
%section-history
  display: none
%section-statement
  display: none
%section-contact-us
  display: none


// -------------------------------------
// Project structure / Extends
// -------------------------------------

article.about
  >header
    @extend %header
  section
    @extend %section
  @each $section in (services advantages about history statement contact-us)
    section.#{$section}
      @extend %section-#{$section}


// -------------------------------------
// Inbox
// -------------------------------------


