@import foundation/globals
@import vendor/slick

// -------------------------------------
//   Structures
// -------------------------------------


// -------------------------------------
//   Components
// -------------------------------------

=section-advantages-custom--tablet
  h1
    padding-top: .8em
    margin-bottom: .4em
  ul
    margin-bottom: -$s-border-sloppy-height--tablet
    padding-bottom: $s-border-sloppy-height--tablet
  li
    $height: $section-advantages-list-item-height + $s-border-sloppy-height--tablet + 50px
    height: $height
    i
      margin-top: 60px
    span
      margin-top: 1.375em
      line-height: 1.25
      text-decoration: none
      font-size: 1.125em
    &:nth-last-child(-n+5)
      height: $section-advantages-list-item-height + 25px
      i
        margin-top: 40px
        &:before, &:after
          z-index: 8

=section-about-custom--tablet
  .items .text
    &:nth-child(2):before, &:nth-child(3):before
      display: none

=section-history--tablet
  +border-sloppy--hide
  height: 595px
  ul.years
    display: none

=section-statement--tablet
  +border-sloppy--hide
  height: 600px
  .slick-slider, .slick-list, .slick-track
    height: 100%
  header
    +border-sloppy--hide
    position: static
    height: auto
    h1
      margin-top: 55px
      font-size: 3.5em
      font-weight: 300
    h2
      margin-top: 80px
      font-size: 2em
      margin-left: 42%
  header h2, .contents p, .contents a.button
    margin-left: 42%
  .contents
    +border-sloppy--hide
    background: none
    p
      margin-top: 6px
      margin-right: 20%
      width: 45%
      line-height: 1.5
      font-size: 1.125em
      font-weight: normal
      &:first-child
        padding-top: 1.125em
    a.button
      display: inline-block
      margin-top: 45px
      background: rgba(0,0,0,.1)
      height: 60px
      padding: 0 2em
      line-height: 54px


%section-advantages-custom
  >h1
    padding-top: 1.125em
  ul
    $color: nth($c-background--h-palette, 10)
    +border-sloppy($color) // last
    +border-sloppy--mirrored($color)
    &:before, &:after
      z-index: 9
      top: auto
      bottom: -13px

    +section-advantages-list
  +respond-to(tablet)
    +section-advantages-custom--tablet
  +respond-to(desktop)
    li span
      font-size: 1.5em

%section-about-custom
  +respond-to(mobile-only)
    display: none
  +respond-to(tablet)
    +section-about-custom--tablet

%section-history
  padding-bottom: 10px
  +border-sloppy($c-background)
  >h1
    padding-top: .75em
  ul.years
    @extend %filter-years
  $achievements-padding-top: 20px
  $achievement-item-height: 240px
  $timeline-height: 100px
  .frame
    position: relative
    margin-top: 20px
    border-top: 1px solid $c-background--m
    height: $achievements-padding-top + $achievement-item-height + $timeline-height
    overflow: hidden
  .achievements
    +scut-absolute(0 n n 0)
    padding-top: $achievements-padding-top
    width: 1000px
    height: $achievements-padding-top + $achievement-item-height
    overflow: hidden
  .achievements .item
    float: left
    margin: 0 4px 0 8px
    border: 2px solid $c-background--hm
    width: 250px
    height: $achievement-item-height
    padding: 3px 5px 3px 12px
    .date
      font-size: .9em
      color: $c-base--m
    h2.title
      margin: .375em 0 0
      font-size: 1.25em
      font-weight: 400
    .description
      line-height: 1.25
      font-size: .875em
      font-weight: 500
      p:first-child
        margin-top: .625em
  .timeline
    +scut-absolute($achievements-padding-top+$achievement-item-height n n 0)
    width: 1000px
    height: $timeline-height
  +respond-to(mobile-only)
    display: none
  +respond-to(tablet)
    +section-history--tablet

%section-statement
  +border-sloppy($c-background)
  +border-sloppy--mirrored($c-background)
  +border-sloppy--inside
  color: $c-base--i

  +carousel-arrows--i(5%)
  .slick-slider
    margin-bottom: 0
  header
    position: relative
    height: 195px
    overflow: hidden
    +border-sloppy($c-background--h)
      top: auto
      bottom: 0
    .background
      +scut-absolute(0 0 0 0)
      background-size: cover
      background-position: center center
    >*
      position: relative
    h1
      margin-top: 23px
      text-align: center
      font-size: 1.25em
      font-weight: normal
    h2
      margin: 75px 0 0 125px
      line-height: 1.3
      font-weight: normal
      font-size: 1.25em
      text-transform: uppercase
  .contents
    +border-sloppy($c-background)
      top: auto
      bottom: 0
    background: $c-background--h
    padding: 0 $b-padding-x 28px
    p
      line-height: 1.375
      font-size: .875em
      font-weight: 500
      letter-spacing: -.01em
      &:first-child
        margin-top: 0
        padding-top: .6em
    a.button
      margin: 18px 16px 0
      @extend %button
      font-weight: 500
  +respond-to(mobile-only)
    .slick-prev, .slick-next
      top: 25%
  +respond-to(tablet)
    +section-statement--tablet
  +respond-to(desktop)
    .contents p
      width: 42%

%section-contact-us-custom
  border-top: none


// -------------------------------------
// Project structure / Extends
// -------------------------------------

article.about
  @each $section in (services advantages about history statement)
    section.#{$section}
      @extend %section-#{$section}
  section.advantages
    @extend %section-advantages-custom
  section.about
    @extend %section-about-custom

main
  section.contact-us
    @extend %section-contact-us-custom


// -------------------------------------
// Inbox
// -------------------------------------


