// *************************************
//
//   Modified MVCSS v4.0.2
//   stylesheet structure
//
// *************************************

// -------------------------------------
//   Pre-requirements
// -------------------------------------

@import normalize-css

// -------------------------------------
//   Global includes
// -------------------------------------

@import foundation/globals
@import foundation/base

// -------------------------------------
//   Config-dependent requirements
// -------------------------------------

//.foundation
  //@import 'foundation/scss/foundation/components/grid'


// -------------------------------------
//   Vendor
// -------------------------------------

@import vendor/remodal
@import simplebar/src/simplebar

// -------------------------------------
//   Structures
// -------------------------------------

@import structures/plugin_js-breakpoints

// -------------------------------------
//   Components
// -------------------------------------

// General
@import components/responsive
@import components/sidebar
@import components/header
@import components/article
@import components/footer
%main
  background: $c-background

%location-link
  display: none
  +breakpoint(em(960px))
    display: block
    position: fixed
    z-index: 11
    top: 85px
    right: -212px
    pointer-events: none
    +bsprite($sm-common, 'location-link')
    transition: right .5s ease-out
    &.headroom--top
      right: 0
    a
      display: block
      margin: 10px
      margin-right: 0
      pointer-events: all
      width: 200px
      height: 190px
      padding: 138px 20px 10px
      text-align: center
      line-height: 1.25
      color: $c-base--i
      font-weight: 500


// -------------------------------------
// Project structure / Extends
// -------------------------------------

+responsive
+modal-global
html
  +s-plugin_js-breakpoints
  @extend %sidebar-global
  @extend %header-global--headroom
  @extend %footer-global
.location-link
  @extend %location-link
aside.main
  @extend %sidebar
header.main
  @extend %header
  @extend %header--headroom
main
  @extend %main
article
  @extend %article
  >header
    @extend %article-header
  >section
    @extend %article-section
main>section
  @extend %article-section
  &.contact-us
    @extend %section-contact-us
  &.social
    @extend %section-social
footer.main
  @extend %footer

.remodal
  @extend %modal


// -------------------------------------
// Inbox
// -------------------------------------

