@import foundation/globals
@import components/bundle-building

// -------------------------------------
//   Structures
// -------------------------------------

$item-height: 262px
$item-padding: 3px
$item-inner-height: $item-height - $item-padding*2 - 2px // 2px - border

=spaces-item--tablet
  display: inline-block
  vertical-align: top
  margin: 0 14px 45px
  width: 275px
  height: 295px
  padding: 2px
  &:first-child
    margin-left: 0
  &:hover
    border: 2px solid $c-background--m
    padding: 1px
  &:hover .image ul.actions
    display: block


  $image-height: 57.5%
  .image
    position: relative
    height: $image-height
    ul.actions
      +scut-absolute(0 0 0 0)
      background: rgba($c-background--h, .7)
      text-align: center
      li
        position: relative
        display: inline-block
        vertical-align: top
        height: 100%
      li a
        display: block
        position: relative
        top: 50%
        margin-top: -29px
        border-left: 1px solid rgba($c-background, .5)
        height: 58px
        padding: 0 30px
        font-size: 0
        &:after
          display: block
          content: ''
      @each $i in (view gallery)
        li.#{$i} a:after
          +bsprite($sm-spaces, "item-action-#{$i}", nil, 58px)
      li:first-child a
        border-left: none


  ul.info
    background: $c-background--i
    height: 24%

  ul.info li
    .number
      font-size: 2.375em
    .unit
      line-height: 1
      font-size: 1em

  ul.extra
    height: 18.5%

  ul.extra li
    margin: 0 3px 0 6px
    .number, i
      height: 28px
    .number
      margin-top: .25em
      font-size: 1.375em

%spaces-item
  position: relative
  margin-bottom: 14px
  border: 1px solid $c-background--ml
  padding: $item-padding
  height: $item-height
  .image
    height: 121px / $item-inner-height * 100%
    .background
      background-position: center bottom
      background-size: cover
      height: 100%
    ul.actions
      display: none
      @extend %scut-list-unstyled
  ul
    @extend %scut-list-unstyled
    overflow: hidden
  ul.info
    height: 75px / $item-inner-height * 100%
  ul.info li
    float: left
    width: 33.33%
    height: 100%
    text-align: center
    &:nth-child(3n-2) // 1,4
      background: $c-background--ml
    &:nth-child(3n-1) // 2,5
      background: $c-background--h
      color: $c-base--i
    &:nth-child(3n-0) // 3,6
      background: $c-background--i
      color: $c-base--i
    .number
      margin-top: .075em
      font-size: 2.5em
      font-weight: 300
      line-height: 1.125
    .unit
      line-height: 1.125
      font-size: 1.0625em
      sub, sup
        font-size: .6em
  ul.extra
    background: $c-background
    height: 58px / $item-inner-height * 100%
    padding-bottom: 3px
    text-align: center
  ul.extra li
    display: inline-block
    margin: 0 8px 0 7px
    height: 100%
    text-align: center
    .number, i
      height: 30px
    .number
      margin-top: .3em
      line-height: 1.25
      font-size: 1.5em
      font-weight: 500
    i
      text-align: center
      &:after
        display: inline-block
        vertical-align: middle
        content: ''
      &.check:after
        margin-left: 6px
      @each $i in (check cross)
        &.#{$i}:after
          +bsprite($sm-spaces, "item-extra-#{$i}", nil, 30px)
    i.check:after
      margin-top: -6px
    i.cross:after
      margin-top: -4px
    .text
      font-size: .65em
      text-transform: uppercase
      color: $c-base--m
  +respond-to(tablet)
    +spaces-item--tablet

%shared-modal-space-gallery
  .image
    position: relative
    z-index: 0
    overflow: hidden
    &:after
      display: block
      +scut-absolute(70% 0 0 0)
      background: linear-gradient(transparent, rgba(0,0,0,.5))
      content: ''
    img
      display: block
  .social
    @extend %extra-social
    @extend %extra-social--i
    $height: 35px
    position: relative
    float: left
    margin: (-10px - $height) 0 0 10px
    height: $height
    overflow: hidden
    a.contact
      @extend %button
      height: 100%
      line-height: $height - 6px
      font-size: 1em

  +respond-to(tablet)
    .image:after
      top: 80%
    .social
      $height: 43px
      margin: (-18px - $height) 0 0 18px
      height: $height
      a.contact
        line-height: $height - 6px
        font-size: 1.25em

%modal-space
  @extend %spaces-item
  // resets to the extend
  vertical-align: middle
  border: none
  width: auto
  height: auto
  padding: 0
  +respond-to(tablet)
    &:hover
      border: none
      padding: 0
  // resets end

  @extend %shared-modal-space-gallery

  .id
    +scut-absolute(0 n n 0)
    z-index: 1
    background: $c-background--ml
    padding: 5px 20px 8px
    .number
      font-size: 2.5em
      font-weight: 300
      line-height: 1
    .text
      line-height: 1.125
      font-size: 1.125em
      sub, sup
        font-size: .6em
  ul.info
    height: 80px
  +respond-to(tablet)
    ul.info
      float: left
      width: 45%
      height: 70px
    ul.extra
      width: 55%
      height: 70px
    ul.extra li
      .number
        font-size: 1.75em
      .text
        margin-top: .25em
        font-size: .875em
  +respond-to(desktop)
    .id
      .number
        font-size: 2.75em
      .text
        font-size: 1.2em
    ul.info
      height: 100px
    ul.info li
      .number
        font-size: 3.25em
      .unit
        font-size: 1.375em
    ul.extra
      height: 100px
    ul.extra li
      .number
        margin-top: .5em
        font-size: 2em
      .text
        margin-top: .75em
        font-size: .95em

%modal-gallery
  @extend %shared-modal-space-gallery
  .image.slick-slider
    +carousel-arrows--i(20px)
      z-index: 1000
    div
      float: left
      width: 100%
    &:after
      z-index: 1000 // above carousel

%shared-modal-contact-send
  @extend %modal--i
  padding: 0 40px 35px
  form
    margin-top: -10px
    *
      display: block
      float: left
      margin-top: 16px
      outline: none
      border: 2px solid $c-background--ml
      width: 100%
      height: 50px
      padding: 3px 20px
      font-size: 1.55em
      &::placeholder
        color: $c-base--ml
    input[type=submit]
      @extend %button
      @extend %button--m
      border-width: 4px
      width: auto
      font-weight: 500
%modal-send
  @extend %shared-modal-contact-send
%modal-contact
  @extend %shared-modal-contact-send


// -------------------------------------
//   Components
// -------------------------------------

=section-spaces--tablet
  padding: 0 $b-padding-x*3
  h1
    padding-top: .75em
    strong
      font-weight: normal
      font-size: 1em


  .filters
    margin-top: 8px
    padding-bottom: 20px
  .filter
    position: relative
    margin-top: 30px
    border: 2px solid $c-background--ml
    height: 90px
    padding: 22px 25px 25px
    .title
      $height: 1.6em
      +scut-absolute(-$height/2 n n 0)
      margin-top: -2px
      width: 100%
      height: $height
      text-align: center
      text-transform: uppercase
      font-size: $height
      font-weight: 500
      span
        padding: 0 .5em
        background: $c-background
    .columns
      margin: -6px -1% 0
    .column
      float: left
      &.half
        width: 47.5%
        &:nth-child(2n)
          margin-left: 5%
      label
        text-transform: uppercase
        sup, sub
          font-size: .65em
      .customSelect, select
        border-width: 1px
        height: 34px !important
        line-height: 32px !important
        padding:
          top: 0
          bottom: 0
    .inline>*
      display: inline-block
    &.class
      padding-top: 30px
      .checktextboxes
        label
          cursor: pointer
          float: left
          border: 2px solid $c-background--ml
          margin-left: 2.666%
          width: 23%
          line-height: 30px
          padding: 2px
          text-align: center
          &:first-child
            margin-left: 0
          input
            display: none
          input+span
            display: block
            height: 100%
            width: 100%
          input:checked+span
            background: $c-background--m

    &.type .customSelect
      padding-top: .5em
      font-size: 1em
      font-weight: normal
    &.limit
      .column label
        font-size: .875em
      .inline
        >*
          margin-right: 3px
        span
          color: $c-base--m
        input
          outline: none
          +scut-border(none, y y n y)
          border-bottom: 1px solid $c-background--m
          width: 42px
          padding: 0 3px
          font-weight: 500


  .items
    text-align: center
  .items.grid
    margin-top: 24px
    overflow: hidden
  .items-view a
    display: inline-block
    opacity: .4
    margin-right: 12px
    @each $i in grid list
      &.#{$i}
        +bsprite($sm-spaces, "items-view-#{$i}")
    &:hover
      cursor: pointer
      opacity: .85
    &.active
      opacity: 1
  .items.list
    &.active
      display: block
    margin: -30px 0 35px
  .items.list table
    width: 100%
    th, td
      padding: 8px
    th
      font-weight: 500
      font-size: 1.0625em
      sup
        font-size: .625em
    td
      border: 1px solid $c-background--ml
      border-left-style: dashed
      border-right-style: dashed
      font-weight: 300
      font-size: 2.375em
      &:first-child
        border-left-style: solid
      &:last-child
        border-right-style: solid
      &.image
        width: 116px
        img
          display: block
          width: 100%
      i
        display: inline-block
        @each $i in (check cross)
          &.#{$i}
            +bsprite($sm-spaces, "item-list-#{$i}", nil, 30px)

=section-spaces--desktop
  padding: 0 $b-padding-x*5
  .filter
    // left margin
    &, &:nth-child(2n)
      margin-left: 2%
    &:first-child
      margin-left: 0
    // width
    &.class, &.type
      width: 18%
    &.limit, &.sort
      width: 29%
    &.limit
      .column label
        font-size: 1em
      .inline
        >*
          font-size: 1.25em
        input
          width: 38px


    +breakpoint(max-width em(1320px))
      &.limit
        .inline > *
          font-size: 1em
        .inline
          margin-top: 5px
        .inline input
          width: 33px
    +breakpoint(max-width em(1248px))
      &.type .select-custom .customSelect
        font-size: .875em
      &.limit .column label
        font-size: .875em
    +breakpoint(max-width em(1152px))
      .title
        font-size: 1.375em
      .select-custom .customSelect
        font-size: 1em
      .column label
        font-size: .875em
      &.type .select-custom .customSelect
        font-size: .75em
      &.limit
        .column label
          font-size: .75em
        .inline
          margin-top: 3px
        .inline > *
          font-size: .875em
        .inline input
          width: 27px

%article-header-custom
  .building_map
    @extend %article-header-building_map
    +respond-to(tablet)
      height: 450px
  +respond-to(mobile-only)
    .image
      margin-top: -12px
  +respond-to(tablet)
    .text
      float: left
      width: 50%
      margin-right: 0
      p
        line-height: 1.7
  +respond-to(desktop)
    .text
      h1
        margin-top: 1.75em
        margin-bottom: .95em
        font-size: 2.875em

%section-building
  @extend %bundle-building
  @extend %bundle-building--hideable

%section-spaces
  padding: $b-padding
  h1
    padding-top: .65em

  .filters
    margin-top: 5px
    overflow: hidden
  .filter
    float: left
    width: 48.5%
    &:nth-child(2n) // every second, skipping hidden selects
      margin-left: 3%
    .select-custom
      @extend %filter-select-container

  .items
    display: none
    margin-top: 12px
    &.active
      display: block
  .items.grid .item
    @extend %spaces-item
    &.template
      display: none
  .items.list
    display: none
  .reset
    text-align: center
    input
      border: none
      outline: none
      background: none
      padding: 0

      margin-top: 2px
      border-bottom: 1px dashed $c-background--m
      vertical-align: top
      color: $c-base--m
      line-height: 1.25
      font-size: .875em
      &:hover
        border-color: darken($c-background--m, 10%)
        color: darken($c-base--m, 10%)
  +respond-to(tablet)
    +section-spaces--tablet
  +respond-to(desktop)
    +section-spaces--desktop


// -------------------------------------
// Project structure / Extends
// -------------------------------------

article.spaces
  >header
    @extend %article-header-custom
  @each $section in (building spaces)
    section.#{$section}
      @extend %section-#{$section}

.remodal
  @each $i in space gallery send contact
    &.#{$i}
      @extend %modal-#{$i}
