=section-advantages-list-fill($palette: 1 2 3 4 5 6 7 8 9 10)
  // fill
  @for $i from 1 through length($palette)
    $color: nth($c-background--h-palette, nth($palette, $i))
    &:nth-child(#{$i})
      background-color: $color
      +border-sloppy($color)

=section-advantages-tablet
  height: 270px
  ul.items, li
    height: 100%
  li
    width: 25%
    float: left
    &:nth-child(n)
      &:before, &:after
        height: $s-border-sloppy-height--tablet
        top: -$s-border-sloppy-height--tablet
    &:nth-child(1), &:nth-child(n+4) // 1,4,5,6,7,8 - no sloppy border
      &:before
        width: 100%
        background: inherit
      &:after
        display: none
    &:nth-child(2)
      &:before
        width: 100%
      &:after
        display: none
    &:nth-child(3)
      &:before
        display: none
      &:after
        width: 100%
  li span
    margin-top: 1.75em
    line-height: 1.375
    font-size: 1.25em
  i
    margin-top: 23px
    @each $i in (infrastructure car professional handshake)
      &.#{$i}:after
        +bsprite($sm-shared, "advantages-#{$i}-desktop")

=section-about-tablet
  +border-sloppy($c-background--i, both, top)
  +border-sloppy--mirrored($c-background--i, both, top)
  +border-sloppy--inside(top)
  &:before, &:after
    display: none


  background: none
  height: 450px
  padding-bottom: 0
  .items, .items>div, .items .image .background
    height: 100%
  .items
    padding-bottom: 0
  $item-width: 25%
  .items>div
    width: $item-width
  .items .image, .items .text
    &:nth-child(n)
      top: 0
      &:before, &:after
        display: none
  .items .text
    padding: $s-border-sloppy-height--tablet $item-width*.1 0 $item-width*.08
    &:nth-child(2)
      $background: nth($c-background--h-palette, 1)
      background: $background
      &:before
        display: block
      +border-sloppy($c-background, left, top)
      +border-sloppy--mirrored($c-background, left, top)
      +border-sloppy--inside(top)
      +border-sloppy($background, right, bottom)
    &:nth-child(3)
      $background: nth($c-background--h-palette, 6)
      background: $background
      &:before
        display: block
      +border-sloppy($c-background, right, top)
      +border-sloppy--mirrored($c-background, right, top)
      +border-sloppy--inside(top)
      +border-sloppy($background, left, bottom)
    h1
      margin-top: .875em
      font-size: 1.75em
      font-weight: 300
      line-height: 1.125
    p
      margin-top: 1.55em
      height: 1em * 1.375 * 10 // lines
      overflow: hidden
      line-height: 1.375
      font-size: 1em
    a
      margin-top: 1em
      font-size: 1em
      font-weight: normal

=section-social-tablet
  h1
    padding-top: .875em
    font-size: 2.25em
    font-weight: normal
  .facebook
    margin: 15px auto 0
    max-width: 880px
    .fb-like-box,
      &,&>span,&>span>iframe
        width: 100% !important


%section-advantages
  text-align: center
  h1
    margin-bottom: 1em
  li
    +section-advantages-list-fill
    padding: 12px 20px 20px
    color: $c-base--i
    span
      display: block
      margin-top: .75em
      line-height: 1.125
  i
    display: block
    @each $i in (infrastructure car professional handshake room buildings camera measures projector guard24)
      &.#{$i}:after
        display: block
        margin: 0 auto
        +bsprite($sm-shared, "advantages-#{$i}")
        content: ''
  +respond-to(tablet)
    +section-advantages-tablet
  +respond-to(desktop)
    li span
      font-size: 1.625em
      text-decoration: underline

%section-about
  +border-sloppy($c-base--i)
  +border-sloppy--mirrored($c-base--i)
  +border-sloppy--inside
  background: $c-background--h
  color: $c-base--i
  padding-bottom: $s-border-sloppy-height
  .items
    @extend %scut-clearfix
    padding-bottom: $s-border-sloppy-height*2
  .items>div
    position: relative
    float: left
    width: 50%
    height: 244px
  .items .image
    .background
      width: 100%
      height: 244px + $s-border-sloppy-height*3
      background-size: cover
    &:nth-child(1)
      position: static
  .items .text
    z-index: 1
    top: $s-border-sloppy-height
    padding: 8px $b-padding-x 5px 16px
    background: $c-background--h
    &:nth-child(2n)
      +border-sloppy($c-background--h, right)
      +border-sloppy($c-background--h, left, bottom)
    &:nth-child(2n+1)
      top: $s-border-sloppy-height*2
      +border-sloppy($c-background--h, left)
    h1
      overflow: hidden
      margin: 0
      height: 2em * 1.2
      font-size: 1.25em
      font-weight: normal
    p
      overflow: hidden
      margin-bottom: .875em
      height: 8em * 1.3
      line-height: 1.35
      font-size: .825em
    a
      display: block
      float: left
      border-bottom: 1px solid $c-base--i
      color: $c-base--i
      font-size: .8em
      font-weight: 700
      line-height: 1
      &:hover
        border-bottom: none
  +respond-to(tablet)
    +section-about-tablet
  +respond-to(desktop)
    height: 515px
    .items .text h1
      font-size: 2.5em

%section-contact-us
  +border-sloppy($c-background)
  padding: 21px 0
  text-align: center
  .frame
    overflow: hidden
    border: 2px solid $c-background--m
    margin: 0 8px
    padding: 15px
  h1
    margin: 0
    line-height: 1.2
    font-size: 1.875em
    font-weight: normal
  p
    margin: .75em 0 0
    line-height: 1.45
  a
    display: inline-block
%section-social
  border-top: 1px solid $c-background--m
  .facebook
    margin: 6px $b-padding-x*2 0
    max-height: 240px
    overflow: hidden
    text-align: center
  +respond-to(tablet)
    +section-social-tablet

