%button
  display: block
  border: 3px solid $c-background--m
  height: 56px
  line-height: 50px
  background: rgba($c-background--i, .4)
  color: $c-background--m
  text-align: center
  text-transform: uppercase
  font-size: 1.5em
  &:hover
    text-decoration: none
    background: rgba($c-background--i, .7)
