=carousel-arrows($side: 0px, $postfix: '')
  .slick-prev
    left: $side
    +icon-arrow-left($postfix)
  .slick-next
    right: $side
    +icon-arrow-right($postfix)

=carousel-arrows--i($side: 0px)
  +carousel-arrows($side, '--i')

%carousel-arrows
  +carousel-arrows

=carousel-arrows-centered($item-width, $offset)
  .slick-prev
    left: auto
    right: 50%
    margin-right: $item-width/2 + $offset
  .slick-next
    left: 50%
    right: auto
    margin-left:  $item-width/2 + $offset

