@import foundation/globals
@import structures/buttons

=modal-global
  body
    overflow: auto !important
%modal-base
  background: $c-background--i
  max-width: 890px
  text-align: left
  .remodal-close
    +scut-absolute(5px 5px n n)
    //opacity: .5
    opacity: 1

    border: 1px solid $c-background
    width: 32px
    height: 32px

    text-align: center
    text-decoration: none
    color: $c-base--i

    transition: opacity 0.2s ease-out

    //&:hover, &:active
      //opacity: 1
    &:after
      display: block
      cursor: pointer

      text-decoration: none
      line-height: 21px // vertically centered
      color: inherit
      font-size: 40px
      font-weight: 300

      content: "×"
      transition: all 0.2s ease-out

%modal
  @extend %modal-base
  >h1, .contents h1
    font-weight: 300
  >h1
    margin: .375em -2px
    font-size: 2.875em
    strong
      font-weight: 500
  $cover-height: 130px
  .cover
    height: $cover-height
    background-position: center center
    background-size: cover
  .contents
    background: $c-background
    max-height: 540px
    max-height: calc(100% - #{$cover-height})
    min-height: 540px
    min-height: calc(100% - #{$cover-height})
    overflow-y: auto
    text-align: left
    padding: 0 35px
    h1
      margin: .5em 0
      font-size: 1.5em
    p
      font-size: .875em
      font-weight: 300
    +respond-to(tablet)
      h1
        font-size: 2.25em
      p
        font-size: 1.05em
  form
    margin-top: -10px
    &.mailable .result.success
      display: none
    input,textarea
      display: block
      float: left
      margin-top: 16px
      outline: none
      border: 2px solid $c-background--ml
      width: 100%
      height: 50px
      padding: 3px 20px
      font-size: 1.55em
      &::placeholder
        color: $c-base--ml
    [type=submit]
      @extend %button
      @extend %button--m
      position: relative
      float: left
      margin-top: 16px
      border-width: 4px
      width: auto
      overflow: visible
      font-weight: 500
    [type=submit]:after
      $image: 'common/form-processing.gif'
      display: block
      visibility: hidden
      position: absolute
      top: 50%
      right: -(15px+image-width($image))
      margin-top: -(image-height($image)/2)
      background: image-url($image) no-repeat
      width:  image-width(  $image)
      height: image-height( $image)
      content: ''
    &.mailable-processing [type=submit]:after
      visibility: visible

%modal--i
  background: $c-background
  .remodal-close
    color: $c-base
    border-color: $c-background--i

