main: article.maintenance
  section.logo
    = image_tag 'maintenance/logo.jpg'
  section.info: .inner
    h1 Notiek mājas lapas atjaunošanas darbi
    .contact
      h2 Kontaktinformācija:
      .phone
        ' Tālr.
        a> href="tel:+37129534222" +371 29534222
        ' ,
        a  href="tel:+37129288411" +371 29288411
      .email
        ' e-pasts.
        a href="mailto:info@mbcentrs.lv" info@mbcentrs.lv
